body {
  background: radial-gradient(#4cceb2, #2f8fd8);
}

ul {
  list-style: none;
}

.page-users {
  margin: 20px auto 0;
  max-width: 1000px;
  width: 100%;
}

.page-numbers {
  display: flex;
  justify-content: center;
}

.page-numbers > li {
  border: 1px solid #000;
  border-collapse: collapse;
  cursor: pointer;
  padding: 10px 15px;
  user-select: none;
  text-align: center;
  vertical-align: middle;
}

.a {
  color: #eee;
  display: block;
  font-size: 20px;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.a:focus {
  color: #ff0000;
}
